@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.post-card-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  max-height: 250px;
  overflow: hidden;
}

.post-card {
  position: relative;
}

.post-card-tag {
  display: block;
  color: #ff0035;
  font-size: 0.6875rem;
  line-height: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.post-card-title {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: bolder;
}
.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

.border-radius {
  border-radius: 10px;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
